h1 {color:crimson
}

body {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 
{color: aqua
}

nav {color:darkorchid
}

.box {
    display:flex;
    }

.1 {
    
    background-color:blue;}   

.2 {
        
        border: 10px solid blue;}   

.container {
    max-width: 900px;
    margin: 0 auto;
    
}

img { 
margin-right:20px;}

.social {
    
        max-width: 900px;
        margin: 0 auto
        
        
    }

.stack {
    display: flex;
}